

somalia_energy_with_technology.csv
somalia_aggregated_energy.csv
shiny/static/images/technology_plot.png
shiny/static/images/line_plot_chart.png
shiny/static/images/energy_plot.png
shiny/static/images/bar_plot_chart.png
shiny/static/images/2000-2021.png
shiny/static/images/2000-2013.png
shiny/static/images/2000-2005.png
chart.html
bar.html
Presentation.docx
Somalia Energy.pdf
Somalia Energy.pdf.docx
