
Population Cluster with Electrification Scenarios_Somalia.cpg
Population Cluster with Electrification Scenarios_Somalia.dbf
Population Cluster with Electrification Scenarios_Somalia.qmd
Population Cluster with Electrification Scenarios_Somalia.shp
Population Cluster with Electrification Scenarios_Somalia.prj
Population Cluster with Electrification Scenarios_Somalia.shx
